.shiftContentLeft{
    margin-left: 282px; 
}

@media screen and (max-width: 600px) {
  .shiftContentLeft{
    margin-left: 0px;   
  }
}

  #ArrowIcon{
    position: absolute;
    top: calc(100vh - 70px);
    text-align: center;
    animation: jumpInfinite 3s infinite;
  }

/* animation for my down arrow */
  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }  

  @media screen and (max-width: 900px) {
    .image {
      display: none;
    }
  }