
.shiftContentRight{
    /* Sidebar is 280px wide */
    margin-left: 0px;   
}

.shiftContentLeft{
    margin-left: 282px; 
}

  .ArrowIcon{
    position: absolute;
    top: calc(100vh - 70px);
    text-align: center;
    animation: jumpInfinite 3s infinite;
  }

/* animation for my down arrow */
  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }  