.name {
    font-family: "Neutraface Text Bold";
    margin-bottom: 8px;
}


.shiftContentRight{
    /* Sidebar is 280px wide */
    margin-left: 0px;   
    /* Transition to be added if the content shift is visible on load in deployment server */
    transition-duration: 1000ms;
    transition-property: margin-left;
}

.shiftContentLeft{
    margin-left: 282px; 
    /* Transition to be added if the content shift is visible on load in deployment server */
}

  .ArrowIcon{
    position: absolute;
    top: calc(100vh - 70px);
    text-align: center;
    animation: jumpInfinite 3s infinite;
  }

/* animation for my down arrow */
  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }  