.l {
    --primary-dark: #2196F3;
    --primary-light: #0d6efd;
  }

.modal{
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 8px;
    height:40%;
    width:50%;
    padding:16px;
}

.xButton{
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
}

.section::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 40px;
    background: #2196F3;
    position: absolute;
    box-sizing: border-box;
}

.section{
    margin-left: 15px;
}