.l {
    --primary-dark: #2196F3;
    --primary-light: #0d6efd;
  }

.modal{

    padding:16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.xButton{
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
}

.section::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 40px;
    background: #2196F3;
    position: absolute;
    box-sizing: border-box;
}

.section{
    margin-left: 15px;
}