.avatar {
    width: 104px;
    height: 104px;
    margin-top: 16px;
    border: White solid 5px;
    /* Change border to '#2196F3' when real photo added*/
  }

  .name {
    text-align: center;
    font-family: "Neutraface Text Bold";
    margin-top: 16px;
    margin-bottom: 16px;
  }

.footerIcon:hover {
  transform: scale(1.5);
  transition-duration: .3s;
  transition-property: transform;
  color: #42a5f5;
}

.footerIcon{
  color: #2196F3;
}

.navItem:hover {
  transform: scale(1.05);
  transition-duration: .3s;
  transition-property: transform;
}

.underlineNavItem{
  text-underline-offset: 10px;
  text-decoration: underline #2196F3 2px;
}

.copyright{
  font-size: 14px;
  color: #FFFFFF;
}