.avatar {
    width: 104px;
    height: 104px;
    margin-top: 16px;
  }

  .name {
    text-align: center;
    font-family: "Neutraface Text Bold";
    margin-top: 16px;
    margin-bottom: 16px;
  }

  @font-face {font-family: "Neutraface Text Bold";
     src: url("//db.onlinewebfonts.com/t/33c69019b1d9231e1004f52ae937b0da.eot");
    src: url("//db.onlinewebfonts.com/t/33c69019b1d9231e1004f52ae937b0da.eot?#iefix") format("embedded-opentype"),
     url("//db.onlinewebfonts.com/t/33c69019b1d9231e1004f52ae937b0da.woff2") format("woff2"),
      url("//db.onlinewebfonts.com/t/33c69019b1d9231e1004f52ae937b0da.woff") format("woff"),
       url("//db.onlinewebfonts.com/t/33c69019b1d9231e1004f52ae937b0da.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/33c69019b1d9231e1004f52ae937b0da.svg#Neutraface Text Bold") format("svg");
         font-weight: normal; font-style: normal;}

.footerIcon:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
  color: #42a5f5;
}

.footerIcon{
  color: #2196F3;
}